/**
 * GLOBAL STYLING
 */

/* box model fix */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* ==========================================================================
   Micro clearfix
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	overflow-x:hidden;
	width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

p {
	line-height: 160%;
}

h2 {
	font-size: 20px;
	font-weight: bolder;
	color: white;
}

a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: darkcyan; /* dark orange */
}

/* HEADER STYLING */

	#ursa-major {
		background-image: url("../images/big-dipper.jpg");
		background-size: cover;
		background-position: right; 
		height: 80vh;
		background-repeat: no-repeat;
	}

	#ursa-major h2 {
	font-size: 30px;
	font-weight: 100;
	font-family: futura;
	color: white;
	float: right;
	margin-top: 170px;
	margin-right: 180px;
	width: 500px;
  padding: 10px;
	}

	p.container {
	font-size: 15px;
	color: white;
	float: right;
	margin-top: 30px;
	margin-right: 200px;
  width: 500px;
  padding: 10px;
  margin: 5px;
	}

	#polaris {
		background-image: url("../images/polaris.jpg");
		background-size: cover;
		background-position: right; 
		height: 80vh;
		background-repeat: no-repeat;
	}

	#polaris h2 {
	font-size: 30px;
	font-weight: 100;
	font-family: futura;
	color: white;
	float: right;
	margin-top: 110px;
	margin-right: 180px;
	width: 500px;
  padding: 10px;
	}

	p.container #polaris {
	font-size: 15px;
	color: white;
	float: left;
	margin-top: 20px;
	margin-left: 900px;
	}

	p span{
		font-size: 30px;
		margin-right: 10px;
		float: left;
	}

	#rotation {
		background-image: url("../images/rotation.jpg");
		background-size: cover;
		background-position: right; 
		height: 80vh;
		background-repeat: no-repeat;
	}

	#rotation h2 {
	font-size: 30px;
	font-weight: 100;
	font-family: futura;
	color: white;
	float: right;
	margin-top: 170px;
	margin-right: 180px;
	width: 500px;
  padding: 10px;
	}

	p.container {
	font-size: 15px;
	color: white;
	float: right;
	margin-top: 30px;
	margin-right: 180px;
	}

	#ursa {
		background-image: url("../images/ursa.jpg");
		background-size: cover;
		background-position: right; 
		height: 80vh;
		background-repeat: no-repeat;
	}

	#ursa h2 {
	font-size: 30px;
	font-weight: 100;
	font-family: futura;
	color: white;
	float: right;
	margin-top: 110px;
	margin-right: 180px;
	width: 500px;
  padding: 10px;
	}

	p.container #ursa {
	font-size: 15px;
	color: white;
	float: left;
	margin-top: 30px;
	margin-left: 900px;
	}


	header .container-fluid {
		background-image:url("../images/cover.jpg");
		background-size: cover;
		background-position: right; 
		height: 80vh;
		background-repeat: no-repeat;
	}

	header ul {
		list-style: none;
		margin: 10px;
		padding: 0;
	}

	header li {
		float: none;

		margin-right: 18px;
		margin-bottom: 24px;
		margin-left: 20px;

		font-size: 1.5em;
		text-align: center;

	}

	img #logo-mid{
		max-width: 100%;
	}

	#logo-small {
		display: none;
	}

	#logo-mid {
		display: none;
		margin: 0,auto;
	}

	#logo-big {
		display: none;
	}




@media only screen and (min-width: 1px) and (max-width: 575px) {
	#logo-big {
		display: block;
	}
}

@media only screen and (min-width: 576px) and (max-width: 992px) {

	#logo-mid {
		display: block;
	}

	header li {
		float: right;
		margin-right: 18px;
		margin-top: 13px;
	}

}

@media only screen and (min-width: 993px) and (max-width: 4000px) {


	#logo-big {
		display: block;
	}

	header li {
		float: right;
		margin-right: 18px;
		margin-top: 13px;
	}



}














