grid.css

.container {
		width: 800px;
		margin: 20px auto;
		background-color: lightblue;

	}

	.boxy {
		padding: 40px;
		background-color: skyblue;
		margin: 0;
		width: 40%;
		height: 400px;
		float: left;
	}